@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  margin: 0;
}

.header {
  background: black;
  height: 95px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  position: absolute;
  z-index: 1;
}

.header a {
  color: white;
}

.header_wrapper-links {
  width: 770px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper {
  width: 1600px;
  display: flex;
  justify-content: center;
}

.header-logo {
  width: 44px;
  height: 45px;
  background: url('./assets/header-logo.png');
}

.your-life {
  height: 744px;
  background: url('./assets/bg-image.png');
  flex-direction: column;
  align-items: center;
  position: relative;
}

.your-life_main {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-bottom: 65px;
}

.your-life_main > * {
  margin: 14px 0;
}

.your-life_name {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: white;
  letter-spacing: 4px;
}

.your-life_description {
  color: white;
  width: 450px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.your-life_button,
.implement_button {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  width: 184px;
  height: 46px;
  background: #00AFDB;
  color: white;
  border: none;
  cursor: pointer;
}

.your-life_socials {
  width: 170px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 90px;
}

.your-life_social {
  width: 20px;
  height: 20px;
}

.mail {
  background: url('./assets/mail-icon.png');
}

.facebook {
  background: url('./assets/facebook-icon.png');
}

.instagram {
  background: url('./assets/instargarm-icon.png');
}

.youtube {
  background: url('./assets/youtube-icon.png');
}

.rappresent,
.implement {
  height: 842px;
  align-items: center;
}

.rappresent-content,
.implement-content {
  width: 407px;
  height: 233px;
  margin: 0 0 84px 0;
}

.rappresent-image {
  width: 407px;
  height: 582px;
  background: url('./assets/rappresent-content-image.png');
  margin: 0 0 20px 247px;
}

.rappresent_content-title,
.implement_content-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  width: 370px;
}

.rappresent_content-descriptions,
.implement_content-descriptions {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4E4E4E;
  line-height: 20px;
  margin: -11px 0 29px 0;
}

.community {
  height: 504px;
  background: #F5F6F7;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.community-content {
  width: 298px;
  height: 175px;
  text-align: center;
  margin: 0 0 4px 130px;
  line-height: 1px;
  position: absolute;
  left: 140px;
}

.community-content_image {
  position: relative;
  top: -8px;
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url('./assets/community-content-user.png');
}

.community-content_title {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.community-content_descriptions {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4E4E4E;
  line-height: 20px;
}

.community-slider {
  width: 894px;
  height: 244px;
  position: absolute;
  right: 0;
  top: 120px;
  display: flex;
}

.slider-item {
  width: 407px;
  height: 244px;
  flex-shrink: 0;
  margin-right: 30px;
}

.slider-one-item {
  background: url('./assets/slider-item-1.png');
}

.slider-two-item {
  background: url('./assets/slider-item-2.png');
}

.slider-three-item {
  background: url('./assets/slider-item-2.png');
}

.implement {
  position: relative;
}

.implement-image {
  width: 407px;
  height: 582px;
  background: url('./assets/implement-image.png');
}

.implement-image {
  position: absolute;
  left: 269px;
  top: 120px;
}

.implement-content {
  position: absolute;
  right: 380px;
  top: 286px;
}
